<template>
    <div class="dropdown">
        <multiselect
          :selected="selected"
          :options="options"
          @update="updateSelected">
        </multiselect>
        <label v-show="showLabel" for="multiselect"><span></span>Language</label>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    export default {
      components: { Multiselect },
      data () {
        return {
          selected: null,
          options: ['list', 'of', 'options'],
          placeholder: 'My Placeholder'
        }
      },
      methods: {
        updateSelected (newSelected) {
          this.selected = newSelected
        }
      }
    }
</script>